

html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: gold;
}

.konteiner {
    background-color: rgb(204, 155, 216);
    width: 80%;
}

.uudis-kuupaev {
    font-size: 0.75rem;
    text-decoration: uppercase;
    color: rgb(56, 206, 33);
    font-family: monospace;
}