#eriline {
    font-size: 20px;
    color:rgb(43, 25, 146) ;
}



h1 {
    color: blueviolet;
}

li {
    font-weight: bold;
    color: rgb(155, 102, 102);
}

.paaris {
    color:red
}

.liivimaa {
    background-color: rgb(145, 221, 145);
}

