body {
    font-family: 'Montserrat', sans-serif;
}

.paiskonteiner {
    width: 100%;
    height: 778px;
    background-image: url(./assets/Hills.png);
    background-position: center;
    background-size: cover;
}

.pais {
    display: flex;
    align-items: center;
}

.pais-logo img {
    width: 66.72px;
    height: 64px;
}

.pais-nimi {
    width: 126px;
    font-weight: 800;
    font-size: 33px;
    color: #0B0B0B;
    line-height: 30px;
}

@media screen and (min-width: 1000px) {
    .paiskonteiner {
        background-image: url(./assets/Hills@2x.png);
    }
   
}

.menyyvalikud {
    font-size: 16.67 px;
    font-weight: 800;
}

.menyyvalikud:hover {
    color: rgb(196, 115, 115);
}



a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(196, 115, 115);
}